body {
  background-image: url("background.png");
  background-size: 100%;
  background-attachment: fixed;
} /*body는 배경이미지로*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", serif;
  width: 1600px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
} /*여기까지 초기화코드*/

#page-wrapper {
  overflow: hidden;
  padding: 20px 20px;
  margin: 0 auto;
  width: 1200px;
}
#main-header {
  width: 1060px;
  padding: 200px 50px 100px 50px;
  overflow: hidden;
}
#title {
  padding: 50px 50px;
  height: 100px;
  text-align: center;
}
#title h1 {
  position: relative;
  font-family: "Gaegu", sans-serif;
  font-weight: 600;
  font-size: 60px;
  font-style: normal;
  color: rgb(64, 161, 66);
}

#title h2 {
  position: relative;

  font-family: "Nanum Brush Script", cursive;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  color: rgb(239, 153, 3);
  background-color: rgb(255, 255, 255);
}
#title ~ {
  float: left;
  text-align: center;
}
#title h1,
#title h2 {
  display: inline-block;
}
h1 img {
  position: absolute;
  line-height: 110px;
  width: 100px;
  height: 120px;
  bottom: 10%;
  left: -30%;
}
h2 img {
  position: absolute;
  height: 60px;
  right: 2%;
  bottom: 10%;
}
#day-block {
  height: 200px;
}
#day {
  position: relative;
  text-align: center;
  width: 360px;
  height: 50px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50px;
  background-color: rgba(177, 209, 211, 0.705);
}

#day p img {
  width: 30px;
  height: 30px;
  line-height: 10px;
  position: absolute;
  left: 10%;
  bottom: 30%;
}
nav {
  height: 100px;
}
.tab-title {
  font-family: "Orbit", sans-serif;
  overflow: hidden;
  position: relative;
}
.tab-title label {
  float: left;
  text-align: center;
  margin: 0 80px 0 50px;
}
.tab-title label:nth-of-type(1) {
  margin: 0 80px 0 120px;
}
.tab-title > label ~ img {
  position: absolute;
}
.tab-title > label ~ img:nth-of-type(1) {
  display: none;
  left: 120px;
  opacity: 0;
}
.tab-title > label ~ img:nth-of-type(2) {
  display: none;
  left: 352px;
  opacity: 1;
}
.tab-title > label ~ img:nth-of-type(3) {
  display: none;
  left: 584px;
  top: 1px;
  border: none;
  opacity: 1;
}
.tab-title > label ~ img:nth-of-type(4) {
  display: none;
  left: 814.5px;
  border: none;
  opacity: 1;
}
.tab-title img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 40px;
  margin: 0 0 15px 0;
  border: 1px solid #c9c9c9;
}
.tab-title label:nth-of-type(3) > img,
.tab-title label:nth-of-type(4) > img {
  border: none;
}
input {
  display: none;
}
input:nth-of-type(1):checked ~ section.tab-title label img {
  opacity: 0.2;
}
input:nth-of-type(1):checked ~ section.tab-title > img:nth-of-type(1) {
  display: block;
  opacity: 1;
  transition: 0.5s ease;
}
input:nth-of-type(2):checked ~ section.tab-title label img {
  opacity: 0.2;
}
input:nth-of-type(2):checked ~ section.tab-title > img:nth-of-type(2) {
  display: block;
  opacity: 1;
  transition: 0.5s ease;
}
input:nth-of-type(3):checked ~ section.tab-title label img {
  opacity: 0.2;
}
input:nth-of-type(3):checked ~ section.tab-title > img:nth-of-type(3) {
  display: block;
  opacity: 1;
  transition: 0.5s ease;
}
input:nth-of-type(4):checked ~ section.tab-title label img {
  opacity: 0.2;
}
input:nth-of-type(4):checked ~ section.tab-title > img:nth-of-type(4) {
  display: block;
  opacity: 1;
  transition: 0.5s ease;
}
#content {
  width: 1200px;
  height: 1000px;
  background-color: white;
}
#title img,
#title p {
  float: left;
}
